@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
.section-share {
    &.section-specialty {
        background: linear-gradient(135deg, #FDF8F5, #F1D4BA);
    }
    &.section-outstanding-doctor {
        background: linear-gradient(135deg, #FDF8F5, #F1D4BA);
    }
    &.section-about {
        height: 500px !important;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        background: linear-gradient(135deg, #F4D4B5, #FBF9F7);
    }
    .section-body {
        .section-customize {
            .bg-image {
                width: 278px;
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;
                &.section-specialty {
                    background: url(../../assets/specialty/co-xuong-khop.png);
                    width: 278px;
                    height: 150px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: linear-gradient(135deg, #F4D4B5, #FBF9F7);
                }
                &.section-medical-facility {
                    background: url('../../assets/medical-facility/hethongthucuc.jpg');
                    width: 278px;
                    height: 150px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                }
                &.section-outstanding-doctor {
                    background: url('../../assets/outstanding-doctor/anh-dai-dien-bac-si.png');
                    width: 120px;
                    height: 120px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                    border-radius: 50%;
                }
                &.section-HandBook {
                    background: url('../../assets/handbook/bacsi2.png');
                    width: 278px;
                    height: 200px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                }
            }
        }
    }
}

.section-share {
    height: 330px;
    .section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;
        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;
            .title-section {
                font-size: 22px;
                font-weight: 600;
            }
            .btn-section {
                float: right;
                display: block;
                padding: 10px 15px;
                border: none;
                outline: none;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;
                &:hover {
                    color: #fff;
                    background: #f7b800;
                }
            }
        }
    }
}

.slick-prev {
    left: -10px !important;
    z-index: 1000;
    height: 48px !important;
    width: 44px !important;
    background-color: linear-gradient(135deg, #F4D4B5, #F5C28A) !important;
    border: 2px solid linear-gradient(135deg, #F9D0B9, #ED9F5C) !important;
    &:hover {
        background: linear-gradient(135deg, #F9D0B9, #ED9F5C) !important;
    }
}

.slick-prev:before,
.slick-next:before {
    // font-family: 'Glyphicons Halflings' !important;
    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF) !important;
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.slick-next {
    right: -10px !important;
    z-index: 1000;
    height: 48px !important;
    width: 44px !important;
    background-color: linear-gradient(135deg, #F4D4B5, #F5C28A) !important;
    border: 2px solid radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF) !important;
    &:hover {
        background: linear-gradient(135deg, #F9D0B9, #ED9F5C) !important;
    }
}

.section-outstanding-doctor {
    .outer-bg {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .section-customize {
        padding: 5px;
        .customize-border {
            // border: 1px solid transparent;
            padding: 20px;
            // background: linear-gradient(white, white) padding-box, linear-gradient(to right, darkblue, darkorchid) border-box;
            border-width: 3px;
            border-style: solid;
            border-image: linear-gradient(135deg, #F4D4B5, #FBF9F7) 1;
        }
    }
}

.home-footer {
    text-align: center;
    padding-top: 8px;
    a {
        text-decoration: unset;
    }
}

.section-about {
    padding: 0 100px;
    .section-about-header {
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600;
    }
    .section-about-content {
        display: flex;
        gap: 15px;
        width: 100%;
        .content-left {
            width: 60%;
        }
        .content-right {
            width: 40%;
            p {
                text-align: justify;
                padding: 15px;
                font-family: "Dancing Script", cursive;
                font-optical-sizing: auto;
                font-weight: 700;
                font-size: 25px;
                font-style: normal;
            }
        }
    }
}